* {
    margin: 0;
    padding: 0;
}

html {
    behavior: smooth;
}

body {
    background-color: black;
    color: white;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: Arial, Helvetica, sans-serif;

}


.hero-Section {
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/images/background-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;

}

.layout {
    background-color: rgba(17, 17, 17, 0.788);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px auto;
    width: 78vw;
    position: relative;
    z-index: 10;
}

nav .logo img {
    width: 150px;
    color: rgb(146, 5, 5);
    font-weight:900;

}

nav .btn {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

}

.btn button {
    background-color: rgb(229, 9, 20);
    padding: 10px 16px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.btn button:hover {
    transition: all 0.4s;
    background-color: rgb(202, 4, 14);

}

.btn select {
    padding: 9px 22px;
    background-color: black;
    color: #fff;
    
    border-radius: 5px;
    /* background-position: right 10px center; */


}

.btn select option {
    background-color: #fff;
    color: black;
    /* color: blue; */

}


.btn select:focus {
    /* border:1px solid #fff; */
    outline: 2px solid #fff;
    outline-offset: 2px;
}

.hero-Content {
    /* background-color: red; */
    position: relative;
    z-index: 10;
    width: 70vw;
    margin: 120px auto 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
    flex-direction: column;

}

.hero-Content h1 {
    width: 40.5vw;
    margin: 0px auto;
    font-size: 56px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: #fff;
    line-height: 70px;
    /* padding: 0px 200px; */
    text-align: center;
}

.hero-Content p {
    font-size: 20px;
    line-height: normal;
    font-weight: 500;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-Content form h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;
    /* display: block; */
    /* padding: 15px; */
    text-align: center;
    letter-spacing: 1px;

}
.hero-Content form .btn{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 15px;

}
.hero-Content form input {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(17, 17, 17, 0.788);
    border: 1px solid gray;
    border-radius: 5px;
    padding:17px 160px 17px 17px;

}

.hero-Content form input::placeholder {
    color: #d4d1d1d3;
    /* background-color: black; */
}

.hero-Content form .btn button {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    padding: 18px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* background-color: black; */


}

.hero-Content form .btn button span{
    font-weight: 500;
    font-size: 28px;
}